.filter-container {
    width: 100%;
    display: flex;
    margin: 7px 0;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.filterTitle {
    margin-right: 10px;
    font-weight: bold;
    color: #000;
    font-size: 16.667px;
}



.filter-container select {
    width: 17.5%;
    height: 26px;
    outline: none;
    border: 0;
    background: #D6D2E4;
    border-radius: 10px;
    padding: 0 5px;
    flex-grow: 1;
    font-size: 14px;
    margin-left: 0px;
    color: #47494D;
    font-weight: 400;
}

.filter-container option {
    color: rgba(71, 73, 77, 1);
    font-weight: 400;
}

.filter-container input {
    width: 17.5%;
    height: 28px;
    outline: none;
    border: 0;
    background: #D6D2E4;
    border-radius: 10px;
    padding: 0 5px;
    flex-grow: 1;
    font-size: 14px;
    color: #47494D;
    font-weight: 400;

}

@media only screen and (min-width: 1024px) and (min-height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .filter-container {
        width: 107%;
        display: flex;
        margin: 7px 0;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }

    .filter-container input,
    .filter-container select {
        font-size: 12px;
    }

    .filter-container input {
        width: 12.5%;
    }

    .filter-container select {
        width: 16.5%;
    }
}
@media only screen and (max-width: 431px) and (max-height: 932px) {
    .filter-container {
        margin-left: -30px;
        width: 171%;
        gap: 6px;
    }
    .filter-container p{
        white-space: nowrap;
    }
    .filterTitle {
       font-size: 12px !important;
    }
    .filter-container .selectInput {
        width: 20.5%;
        height: 22px;
        font-size: 10px;


    }
    .filter-container input {
        width: 18.5%;
        height: 22px;
        font-size: 10px;

    }


}

@media only screen 
  and (max-width: 413px) 
  and (max-height: 916px) {
    .filter-container .selectInput {
        width: 22.5%;
        height: 22px;
        font-size: 10px;
    }
}