.add-instructor-card {
    max-width: 90%;
    margin: 0 auto;
    padding: 24px;
    font-family: Arial, sans-serif;
    color: #4A2B99;
    padding-top: 80px;
    padding-left: 25px;
}

.card-instructor-title {
    color: #4A2B99;
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin-bottom: 8px;
}

.add-instructor-form {
    width: 90%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}

.form-instructor-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 42px;
}

.form-instructor-group label {
    width: 107px;
    color: #482B70;
    font-size: 15px;
    font-weight: 400;
}

.form-instructor-group input {
    width: 71%;
    padding: 10px 12px;
    border: 1px solid #4A2B99;
    background-color: rgb(245, 243, 253);
    border-radius: 15px;
    font-size: 14px;
    outline: none;
    color: #47494D;
    font-weight: 400;
}

.form-instructor-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.form-instructor-row .form-instructor-group {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.imgParent {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

.img-input {
    display: none;
}

.imageLabel {
    margin: 0 5px;
    color: #482B70;
    font-size: 16px;
    font-weight: 400;
}

.upload-img-btn {
    display: inline-block;
    padding: 5px 5px;
    color: #47494D;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.img-name {
    font-size: 10.759px;
    color: #47494D;
    font-weight: 400;
    margin-left: 5px;
}

.form-instructor-actions {
    width: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 40px;
    text-align: center;
    gap: 40px;
}

.cancel-btn,
.save-btn {
    color: #482B70;
    padding: 9px 10px;
    font-weight: 400;
    border-radius: 30px;
    border: 1px solid #543381;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1;
    width: 20%;
    font-size: 12px;

}

.cancel-btn {
    background: rgba(245, 243, 253, 1);
    border: 1px solid #543381;
    color: #482B70;

}

.cancel-btn:hover {
    background-color: #F5F5F5;
}

.save-btn {
    color: #FFF;
    background: #482B70;
    font-weight: 400;
}

.save-btn:hover {
    background-color: #3d2280;
}


/* Ipad Pro */

@media (max-width: 1024px) and (height: 1366px) {

    .add-instructor-card {

        padding-top: 47px;
    }

    .form-instructor-group {

        gap: 0px;
    }

    .form-instructor-group label {
        width: 127px;
        font-size: 13px;
    }

    .form-instructor-group input {
        width: 71%;
        padding: 5px;
    }

    .add-instructor-form .imgParent .imageLabel {

        margin-left: 7px;

    }

    .form-instructor-actions {
        width: 102%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-left: 0px;
        text-align: center;
        gap: 40px;
    }

    .imageLabel {
        font-size: 14px !important;
    }
}

@media (max-width: 430px) {

    .add-instructor-form {
        gap: 15px;
    }

    .add-instructor-card {
        padding-top: 50px !important;
        padding-left: 4px !important;
    }

    .card-instructor-title {
        font-size: 18px !important;
    }

    .form-instructor-group {
        align-items: center;
        gap: 16px !important;
    }

    #form-group-date {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 9px !important;
    }

    .form-instructor-group label {
        font-size: 10px !important;
        width: 43px !important;
    }

    .instructor-date-inputs {
        align-items: flex-start !important;
        gap: 1px !important;
        font-size: 5px !important;
        padding: 0 !important;
        margin-left: -2px !important;
        width: 104% !important;
    }

    .form-instructor-group input {
        width: 90% !important;
        font-size: 9px !important;
        padding: 7px 32px !important;
    }

    .form-instructor-row {
        width: 100% !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: flex-start !important;
        gap: 11px !important;
    }

    .form-instructor-row .form-instructor-group {
        width: 99% !important;
        gap: 13px !important;
    }

    .form-instructor-row .form-instructor-group:last-child {
        gap: 11px !important;
    }

    .form-instructor-actions {
        width: 123% !important;
        gap: 15px !important;
        margin-left: -3px !important;
        margin-top: 3px !important;
    }

    .cancel-btn,
    .save-btn {
        font-size: 8px !important;
    }
}