.add-student-card {
    max-width: 88%;
    margin: 0 auto;
    padding: 24px;
    color: #4A2B99;
    margin-top: 17px;
}

.card-student-title {
    color: #4A2B99;
    font-size: 24px;
    margin-bottom: 8px;
}

.add-student-form {
    width: 90%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-student-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.form-student-group label {
    width: 100px;
    color: #482B70;
    font-size: 16px;
    font-weight: 400;
}

.form-student-group input {
    width: 71%;
    padding: 10px 12px;
    border: 1px solid #4A2B99;
    background-color: rgb(245, 243, 253);
    border-radius: 15px;
    font-size: 14px;
    outline: none;
    color: #47494D;
    font-weight: 400;
}


.form-student-row .form-student-group {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.imgParent {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

.img-input {
    display: none;
}

.imageLabel {
    margin: 0 5px;
    color: #482B70;
    font-size: 16px;
    font-weight: 400;
}

.upload-img-btn {
    display: inline-block;
    padding: 5px 5px;
    color: #47494D;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.img-name {
    font-size: 10.759px;
    color: #47494D;
    font-weight: 400;
    margin-left: 5px;
}

.form-student-actions {
    width: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 40px;
    text-align: center;
    gap: 40px;
}

.cancel-btn,
.save-btn {
    color: #482B70;
    padding: 9px 10px;
    font-weight: 400;
    border-radius: 30px;
    border: 1px solid #543381;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1;
    width: 20%;
    font-size: 12px;

}

.cancel-btn {
    background: rgba(245, 243, 253, 1);
    border: 1px solid #543381;
    color: #482B70;

}

.cancel-btn:hover {
    background-color: #F5F5F5;
}

.save-btn {
    color: #FFF;
    background: #482B70;
    font-weight: 400;
}

.save-btn:hover {
    background-color: #3d2280;
}




/* Ipad Pro */

@media (max-width: 1024px) and (height: 1366px) {

    .form-student-group {
        gap: 9px !important;
    }

    .form-student-group label {

        font-size: 14px !important;

    }

    .form-student-group input {
        width: 64% !important;
        font-size: 12px !important;
    }

    .add-student-form .imgParent .imageLabel {

        margin-left: 7px !important;
        font-size: 14px !important;
    }


    .form-student-actions {
        width: 100% !important;
        margin-left: 0 !important;
        gap: 19px !important;
    }

    .cancel-btn,
    .save-btn {

        font-size: 11px !important;
    }
}

@media (max-width: 430px) {

    .add-student-card {
        padding-top: 46px !important;
        padding-left: 4px !important;
    }

    .form-student-group {
        width: 113% !important;
        justify-content: space-between !important;
    }

    .card-student-title {
        font-size: 18px !important;
    }

    .form-student-group label {
        font-size: 9px !important;
        width: 33px !important;
    }

    .form-student-group input {
        width: 49% !important;
        font-size: 6px;
        padding: 8px 3px !important;
    }

    .imageLabel {
        font-size: 10px !important;
    }

    .imgParent img {
        width: 11px;
    }

    .img-name {
        font-size: 6.759px;
    }

    .form-student-actions {
        width: 123% !important;
        gap: 19px !important;
        margin-left: -3px !important;
    }

    .cancel-btn,
    .save-btn {
        font-size: 8px !important;
    }
}