.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .popup-overlay .filter-container{
    width: 93%;
    margin: 7px 0 0 19px;
  }
  .popup-overlay h2 {
    color: #543381;
    padding: 10px 0 0 20px;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 880px;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.popup-content .student-card .student-name {
  font-size: 14px;
}
.popup-content .student-card .student-major {
  font-size: 12px;
}
  .student-cards-container {
    max-height: 60vh;
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
  }
  .student-cards-container .student-card{
    min-width: 250px;
  }
  .centered-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .enroll-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .close-btn {
    background-color: #ff5c5c;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

  }
  .confirm-enroll-btn {
    background-color: rgb(78, 234, 78);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

  }

  
  

 
  @media only screen and (max-width: 431px) and (max-height: 932px) {

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 272px;
    height: 56vh;
    overflow-y: auto;
    display: flex;
    margin-bottom: 284px;
    flex-direction: column;
}
.popup-overlay .filter-container {
  width: 100%;
  margin-left: 0px;
}
.popup-overlay h2 {
  padding: 0px 0 0 20px;
  margin-left: -20px;
}
.popup-overlay .filter-container .selectInput {
  width: 21.5%;
  height: 22px;
  font-size: 10px;
}
.close-btn, .confirm-enroll-btn {
  padding: 3px 21px;
}

}