.AdminPage {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.admin-whole-content-container{
    display: flex;
    width: 82%;
    height: 95%;
    background-color: white;
    border-radius: 66px;

    
}
@media only screen and (min-width: 1024px) and (min-height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .AdminPage {
        width: 100%;
        height: 49vh;
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 431px) and (max-height: 932px) {
    .AdminPage {
        height: 70vh;
        overflow-y: hidden;
    }
    .admin-whole-content-container {
        display: flex;
        width: 82%;
        height: 98%;
        background-color: white;
        margin-top: 10px;
        border-radius: 66px;
    }
}