.AdminWholeContent {
    display: flex;
    width: 82%;
    height: 95%;
    background-color: white;
    border-radius: 66px;
    margin-right: -7px;
}

@media only screen and (width: 1024px) and (height: 1366px) {
    .AdminWholeContent {
       
        height: 75%;
        margin-top: -155px;
        width: 70%;
        
    }
    .admin-whole-content-container {
        margin-left: -10px;
        margin-right: 10px;
    }
}
