.AdminPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

@media (max-width: 1024px) {
    .AdminPage {
        height: 56vh;
        overflow-y: hidden;
    }
}

@media (max-width: 430px) {
    .AdminPage {
        height: 83vh;
        overflow-y: hidden;
    }
}