#dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 44px;
    margin-bottom: 40px;
    min-width: 219px;
    max-width: 219px;
}

.dashboard-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.dashboard-item::before {
    position: absolute;
    content: '';
    background-color: transparent;
    width: 10px;
    border-radius: 0px 10px 10px 0px;
    height: 45px;
    left: -23px;
    top: -12px;
    transition: background-color 0.3s ease-in-out;
}

.dashboard-item.active::before {
    background-color: #ffffff;
}


.dashboard-item.active .white-line {
    display: flex;
    position: absolute;
    top: 30px;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: 139px;
    background-color: #ffffffa8;
    color: rgba(84, 51, 129, 1);
    border-radius: 50%;
    width: 17px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}

.studentNot{
    right: 172px;
}

.dashboard-item img {
    width: 20px;
}

#logout {
    display: flex;
    position: absolute;
    align-items: center;
    color: white;
    bottom: 40px;
    left: 11px;
    gap: 13px;
    cursor: pointer;
}

#logout .logout-icon {
    font-size: 24px;
}

#logout .logout-text {
    font-size: 20px;
    margin: 0;
}

/*Ipad Pro*/
@media (max-width: 1024px) {
    #dashboard {
        position: relative;
        margin-bottom: 683px;
        margin-left: 3px;
    }
    .AdminPage #dashboard{
        margin-bottom: 0;
    }

    .dashboard-item {
        gap: 12px;
    }

    .dashboard-item img {
        width: 18px;
    }

    .dashboard-item p {
        font-size: smaller;
    }

    #logout {
        gap: 12px;
        left: 7px;
        bottom: -220px;
    }
    .AdminPage  #logout{
        bottom: -180px;
    }

    #logout .logout-icon {
        font-size: 18px !important;
    }

    #logout .logout-text {
        font-size: 17px;
    }
}

@media only screen and (max-width: 431px) and (max-height: 932px) {
    #dashboard {
        position: relative;
        margin-bottom: -62px;
    }

    .dashboard-item p {
        font-size: smaller;
        display: none;
    }



    #logout {
        gap: 11px;
        left: 1px;
        bottom: -279px;
        font-size: larger;
    }
    
    .dashboard-item img {
        width: 19px;
    }

    #logout .logout-text {
        font-size: 17px;
        display: none;
    }
}

  @media only screen and (width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    #dashboard {
        margin-bottom: 204px;
    }
    #logout {
        bottom: -162px;
    }  
}
  
 
      