#dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 44px;
    margin-bottom: 100px;
}

.dashboard-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.dashboard-item img {
    width: 20px;
}

#logout {
    display: flex;
    position: absolute;
    align-items: center;
    color: white;
    bottom: 40px;
    left: 11px;
    gap: 13px;
    cursor: pointer;
}

#logout .logout-icon {
    font-size: 24px;
}

#logout .logout-text {
    font-size: 20px;
    margin: 0;
}

/*Ipad Pro*/
@media (max-width: 1024px) {
    #dashboard {
        position: relative;
        margin-bottom: 683px;
        margin-left: 3px;
    }

    .dashboard-item {
        gap: 12px;
    }

    .dashboard-item img {
        width: 18px;
    }

    .dashboard-item p {
        font-size: smaller;
    }

    #logout {
        gap: 12px;
        left: 7px;
        bottom: -220px;
    }

    #logout .logout-icon {
        font-size: 18px !important;
    }

    #logout .logout-text {
        font-size: 17px;
    }
}

@media only screen and (max-width: 431px) and (max-height: 932px) {
    #dashboard {
        position: relative;
        margin-bottom: -62px;
    }

    .dashboard-item p {
        font-size: smaller;
        display: none;
    }



    #logout {
        gap: 11px;
        left: 1px;
        bottom: -279px;
        font-size: larger;
    }
    
    .dashboard-item img {
        width: 19px;
    }

    #logout .logout-text {
        font-size: 17px;
        display: none;
    }
}



  /* Target iPad Pro (11-inch and 12.9-inch) */
  @media only screen and (width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    #dashboard {
        margin-bottom: 204px;
    }
    #logout {
        bottom: -162px;
    }  
}
  
 
      