.request-center-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.request-center-content-container{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.requests-btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.requests-center-container{
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px;
}
.approveRequest{
    background: linear-gradient(180deg, #604099 0%, #4A5DA9 100%);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
}
.rejectRequest{
    background-color: rgb(255, 85, 85);
    border: none;
    padding: 5px 24px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.request-center-content {
    color: #392d4a;
    opacity: 0.8;
    font-weight: bold;
    font-size: 15px;
}

.request-center-course-name,
.request-center-student-name{
    color: rgb(14, 13, 13);
    font-size: 13px;
    opacity: 0.6;
}
.temp {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    max-height: 60px;
}
.no-notification-container {
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 431px) and (max-height: 932px) {
    .no-notification-container {
        margin-top: 80px;
        margin-left: -45px;
    }

}
