.Logo {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 10vw;
}

@media only screen and (max-width: 431px) and (height: 932px) {
    .Logo {
        left: 6px;
        width: 12vw;
        }
}