body {
    position: relative;
}

.profileTop-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 100px;
    gap: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.profile-icon {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.profileTopLoading {
    position: absolute;
    top: 50px;
    right: 100px;
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .profileTop-container {
        top: 20px;
        right: 60px;
        gap: 7px;
    }

    .profile-icon {
        height: 3vh;
        width: 3vh;
    }
}

@media only screen and (max-width: 431px) and (max-height: 932px) {
    .profileTop-container {
        width: fit-content;
        top: 32px;
        right: 95px;
        gap: 10px;
    }

    .user-info {
        gap: 2px;
        margin-top: -7px;
    }

    .user-info p {
        font-size: 8px;
    }

    .profile-icon {
        width: 5vw;
        height: 2.5vh;
    }

    .profileTop-Schedule {
       right: 70px;
      }
      
}