body{
    position: relative;
}
.profileTop-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    right: 80px;
    gap: 15px;
}
.profile-icon{
    width: 37.01px;
    height: 32.01px;
}
@media only screen and (width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .profileTop-container{
        top: 30px;
        right: 120px;
        gap: 15px;
    }
}