body {
    position: relative;
}

.profileTop-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 100px;
    gap: 15px;
}

.profile-icon {
    
    width: 2vw;
    height: 5vh;
}

@media only screen and (width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .profileTop-container {
        top: 33px;
        right: 60px;
        gap: 7px;
    }

    .profile-icon {
        height: 2vh;
        width: 2vw;
    }
}

@media only screen and (max-width: 431px) and (height: 932px) {
    .profileTop-container {
        width: fit-content;
        top: 30px;
        right: 120px;
        gap: 10px;
    }

    .profile-icon {
        width: 3vw;
        height: 2vh;
    }
}