.whole-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100vh;
    width: 100%;
}

@media only screen and (width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .whole-container {
        height: 53vh;
        width: 100%;
    }

}

@media only screen and (max-width: 431px) and (max-height: 932px) {

    html,
    body {
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .whole-container {
        height: 55vh;
        width: 100%;

    }
    .notification-schedule-icon {
        top: 29px;
    }

}