/* Wrapper for the calendar */
.custom-calendar-wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 7%;
  margin-left: -20px;
}

/* Overall Calendar Styling */
.react-calendar {
  width: 80%;
  margin-left: 30px;
  gap: 0;
  border: none; /* Remove default border */
}

/* Header Styling */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Month/Year Label Styling */
.react-calendar__navigation__label {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 27.09px;
  color: #543381;
  border: none;
  margin-bottom: 10px;
  background-color: transparent;
}

/* Navigation Arrows */
.react-calendar__navigation__arrow {
  color: #584B9F;
  font-size: 30px;
  border: none;
  margin-bottom: 10px;
  background-color: transparent;
}

/* Days Grid Styling */
.react-calendar__month-view__days {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

/* Individual Day Tile Styling */
.react-calendar__tile {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #543381;
  padding: 7px 5px;
  text-align: center;
  border: none;
  background-color: transparent;

}


/* Target only the active tile */
.react-calendar__tile--active {
  background-color: #584B9F;
  color: #fff ; 
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 0 0 auto !important; */
}





/* Styling for Current Day */
.react-calendar__tile--now {
  background-color: #ffde59;
  color: #543381;
  border-radius: 50%; /* Circular shape */
  height: 30px;
  width: 30px; /* Tighter width */
}

/* Disabled Days */
.react-calendar__tile--disabled {
  color: #606071;
  font-size: 15.29px;
  padding: 10px 25px;
}

/* Weekday Header (Mon, Tue, etc.) */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #543381;
}
