.filterContainer {
    width: 100%;
    display: flex;
    margin: 7px 0;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.filterTitle{
    margin-right: 10px;
    font-weight: bold;
    color: #000;
    font-size: 16.667px;
    white-space: nowrap;
}
.codeInput{
    width: 18.5%;
    height: 28px;
    outline: none;
    border: none;
    background-color: #D6D2E4;
    border-radius: 10px;
    padding: 0 5px;
    color: rgba(71, 73, 77, 1);
    flex-grow: 1;   
}
.selectInput{
    width: 18.5%;
    height: 28px;
    outline: none;
    border: none;
    background-color: #D6D2E4;
    border-radius: 10px;
    padding: 0 5px;
    color: rgba(71, 73, 77, 1);
    flex-grow: 1;  
}
@media only screen and (max-width: 431px) and (height: 932px) {
    .filterContainer {
        margin-left: -30px;
        width: 171%;
        gap: 6px;
    }
    .filterTitle {
       font-size: 12px !important;
    }
    .selectInput {
        width: 20.5%;
        height: 28px;


    }
    .codeInput {
        width: 18.5%;
        height: 22px;
        font-size: 10px;

    }

    .selectInput {
        width: 10.5%;
        height: 22px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .filterContainer {
        width: 109%;
        margin: -2px 0;
    }
    .selectInput {
        width: 10.5%;

    }
  
}