.whole-content-container{
    display: flex;
    width: 82%;
    height: 95%;
    background-color: white;
    border-radius: 66px;

    
}

  @media only screen and (width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .whole-content-container {
        height: 70%;
        margin-top: -189px;
        width: 78%;
    }
}
@media only screen and (max-width: 431px) and (height: 932px) {

}
