.studentsContainer div {
    display: flex;
    flex-wrap: wrap;
}

.StudentContainer {
    max-height: 450px;
    overflow-y: auto;
}

.student-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(236, 236, 239, 1);
    height: 91px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 0 10px;
    margin: 10px 0 10px 10px;
    flex: 0 1 calc(33.33% - 20px);
    min-width: 260px;
}

.student-card.active {
    background: linear-gradient(180deg, #604099 0%, #4A5DA9 100%);
}
.student-card.active p,
.student-card.active span{
    color: white;
}

.student-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: -5px;
}

.student-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.student-name {
    font-size: 13.87px;
    font-weight: 600;
    margin: 0;
    color: #604099;
}

.student-major {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #000;
}

.student-id {
    font-size: 12px;
    color: #929396;
    margin: 0;
    font-weight: 600;
}

.viewAdminCourses {
    width: 200px;
    height: 30px;
    background-color: rgb(208, 208, 208);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
}

.viewAdminCourses:hover {
    scale: 1.01;
    transition: 0.3s ease-in;
}

.courseStudentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.studentPercentageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    color: #47494D;
    gap: 3px;
}

.studentPercentageContainer p {
    margin-bottom: 0px;
    font-size: 12px;
    color: #604099;
}

.studentPercentageContainer span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #604099;
    line-height: 9.33px;
    letter-spacing: 0%;

}

/* For Selected Students in Enrollment Page */
.student-card-wrapper.active .student-card {
    background: linear-gradient(180deg, #604099 0%, #4A5DA9 100%);
}

.student-card-wrapper.active p {
    color: white;
}



@media (max-width: 1024px) and (height: 1366px) {

    .StudentContainer {
        gap: 10px;
    }

    .student-card {
        width: 41.5%;
        height: 73px;
    }

    .student-details {
        gap: 11px;
    }

    .student-name {
        font-size: 10.87px !important;
    }

    .student-major {
        font-size: 9px;
    }

    .student-id {
        font-size: 9.87px !important;
    }

    .css-1n5qiej-MuiIcon-root {
        font-size: .8rem !important;
    }
}

@media (max-width: 430px) and (height: 932px) {

    .StudentContainer {
        width: 161%;
        margin-left: -23px;
        max-height: 250px;
        gap: 8px;
        overflow-x: hidden;
        overflow-y: auto;
    }


    .student-card {
        flex-basis: 41%;
        height: 59px;
    }

    .student-card img {
        width: 6vw !important;
        height: 3vh !important;
    }

    .student-name {
        font-size: 6.87px !important;
    }

    .student-major {
        font-size: 8px !important;
    }

    .student-id {
        font-size: 5.87px !important;
    }

    .css-1n5qiej-MuiIcon-root {
        font-size: .7rem !important;
    }
}