.StudentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.student-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(236, 236, 239, 1);
    height: 91px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 0 10px;
    width: 43.4%;
}

.student-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.student-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.student-name {
    font-size: 13.87px;
    font-weight: 600;
    margin: 0;
    color: #47494D;
}

.student-major {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    color: #000;
}

.student-id {
    font-size: 11px;
    color: #929396;
    margin: 0;
    font-weight: 600;
}


@media (max-width: 1024px) {

    .StudentContainer {
        gap: 10px;
    }

    .student-card {
        height: 73px;
        flex-basis: 43.3%;
    }

    .student-details {
        gap: 11px;
    }

    .student-name {
        font-size: 10.87px !important;
    }

    .student-major {
        font-size: 9px;
    }

    .student-id {
        font-size: 9.87px !important;
    }

    .css-1n5qiej-MuiIcon-root {
        font-size: .8rem !important;
    }
}

@media (max-width: 430px) {

    .StudentContainer {
        width: 241%;
        margin-left: -30px;
        align-items: center;
        justify-content: flex-start;
    }


    .student-card {
        flex-basis: 59.3%;
        justify-content: space-between;
    }

    .student-card img {
        width: 10vw !important;
        height: 5vh !important;
    }

    .student-name {
        font-size: 7.87px !important;
    }

    .student-major {
        font-size: 9px !important;
    }

    .student-id {
        font-size: 6.87px !important;
    }

    .css-1n5qiej-MuiIcon-root {
        font-size: .7rem !important;
    }
}