
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #604099 0%, #4A5DA9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
.dashboard-item.active {
    font-weight: bold; 
  }
.dashboard-item .white-line{
    display: none;
    width: 98%;
    border: 1px solid white;

}
.dashboard-item{
    position: relative;
}
.dashboard-item.active .white-line{
    display: flex;
    position: absolute;
    top: 30px;
}